<footer class="footer">
    <div class="fill">
        <div class="footerText">
            <h5 class="playfair">CONTÁCTANOS</h5>
            <h6 class="lato subtitle">Llamanos: 666 666 666</h6>
            <h6 class="lato subtitle">Escribenos: nextupgames@gmail.com</h6>
        </div>
        <div class="footerText">
            <h5 class="playfair">SOBRE LA WEB</h5>
            <h6 class="lato subtitle link" (click)="onAboutus()">Nuestro Objetivo</h6>
            <h6 class="lato subtitle link" (click)="onAboutus()">Trabaja con Nostros</h6>
        </div>
        <div class="footerText">
            <h5 class="playfair">MAPA DEL SITIO</h5>
            <h6 class="lato subtitle link" (click)="onHome()">Home</h6>
            <h6 class="lato subtitle link" (click)="onGames()">Juegos</h6>
            <h6 class="lato subtitle link">Perfil</h6>
        </div>  
    </div>     
    <div class="social">
        
    </div>
    
</footer>
