<footer class="footer">
    <div class="fill">
        <div class="footerText">
            <h4 class="playfair">CONTÁCTANOS</h4>
            <h5 class="lato subtitle">Llamanos: 666 666 666</h5>
            <h5 class="lato subtitle">Escribenos: nextupgames@gmail.com</h5>
        </div>
        <div class="footerText">
            <h4 class="playfair">SOBRE LA WEB</h4>
            <h5 class="lato subtitle">Nuestro Objetivo</h5>
            <h5 class="lato subtitle">Trabaja con Nostros</h5>
        </div>
        <div class="footerText">
            <h4 class="playfair">MAPA DEL SITIO</h4>
            <h5 class="lato subtitle">Home</h5>
            <h5 class="lato subtitle">Juegos</h5>
            <h5 class="lato subtitle">Perfil</h5>
        </div>  
    </div>     
    <div class="social">
        
    </div>
    
</footer>
