@import url(../../app.component.css);

.header{
    height:100px;
    background-color:white;
}

.image{
    margin-left:40%;
    position: inline;
    float:left;
    height: 100px;
    width:250px;
    object-fit: cover;
}

.image:hover{
    cursor: pointer;
}

.login, .register{
    position: inline;
    float:right;
    margin-top:1vw;
    margin-right:2vw;
}

.login:hover{
    cursor: pointer;
}

.register:hover{
    cursor: pointer;
}

