@font-face{
    font-family:"Playfair Display";
    src: url(../../../assets/fonts/Playfair/static/PlayfairDisplay-Regular.ttf);
}

@font-face{
    font-family:"Lato";
    src: url(../../../assets/fonts/Lato/Lato-Regular.ttf);
}

.playfair{
    font-family: "Playfair Display";
}

.lato {
    font-family: "Lato;"
}

.header{
    height:100px;
    background-color:white;
}

.image{
    margin-left:15vw;
    position: inline;
    float:left;
    height: 100px;
    width:250px;
    object-fit: cover;
}

.login, .register{
    position: inline;
    float:right;
    margin-right:2vw;
}

